<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="CAP2_PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php8\php-cgi.exe" resourceType="File" />
        </handlers>
		<rewrite>
      		<rules>
      			<clear />
                <rule name="BlockWordpress" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="wp-.*\.php" />
                        <add input="{URL}" pattern="modules.*\.php" />
                        <add input="{URL}" pattern="components.*\.php" />
                    </conditions>
                    <action type="AbortRequest" />
                </rule>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HTTP_HOST}" pattern=".*\.e-captain\.nl" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
        		<rule name="CLIENTimageUrls" enabled="true" stopProcessing="true">
          			<match url="client/image/.*" />
          			<conditions logicalGrouping="MatchAll">
            			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          			</conditions>
          			<action type="Rewrite" url="/client/image.php" />
        		</rule>
        		<rule name="SEOurls" enabled="true" stopProcessing="true">
          			<match url=".*" />
          			<conditions logicalGrouping="MatchAll">
            			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          			</conditions>
          			<action type="Rewrite" url="/index.php" />
        		</rule>
      		</rules>
			<outboundRules>
               <rule name="Strip Headers" enabled="true">
                    <match serverVariable="RESPONSE_Server" pattern=".*" />
                    <action type="Rewrite" value="" replace="true" />
                    <conditions>
                    </conditions>
                </rule>
                <rule name="Add Strict-Transport-Security when HTTPS Captain" enabled="true" stopProcessing="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern=".*\.e-captain\.nl" ignoreCase="true" />
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000; includeSubDomains" />
                </rule>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
    	</rewrite>
    </system.webServer>
</configuration>
